body {
    text-align: center;
    background-color: #f5f3f6;
}

h1 {
    font-family: 'Mitr', sans-serif;
    font-size: 4.768em;
    font-weight: 600;
    margin: 0px;
    padding: 2.5%;
    background: linear-gradient(#023059, #348abf);
    color: #f5f3f6;
}

h2 {
    font-family: 'Mitr', sans-serif;
    font-weight: 400;
    font-size: 2.441em;
    color: #023059;
}

h3 {
    font-family: 'Mitr', sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    color: #023059;
}

p {
    font-family: 'Mitr', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
}

li {
    list-style: none;
}

input.radio {
    display: inline-block;
}

#rank {}

.question {
    font-family: 'Mitr', sans-serif;
    font-weight: 400;
    font-size: 2.2em;
    color: #023059;
    margin-bottom: 10px;
}

.answers {
    font-family: 'Mitr', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}

.answers label {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}



.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;

}

.quiz-container {
    position: relative;
    height: 200px;
    margin-top: 10%;
}

.welcomePage {
    position: relative;
    height: 200px;
    margin-top: 10%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.scorePage {
    position: relative;
    height: 200px;
    margin-top: 10%;
}

#finalScore {
    height: 20px;
    margin-top: 1%;
}

#scoreBox {
    height: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-bottom: 1%;
}

footer {
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(#348abf, #023059);
    color: #f5f3f6;
    text-align: center;
}

footer li {
    font-family: 'Mitr', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    text-decoration: none;
    color: #f5f3f6;
    list-style: none;
}

footer li a {
    font-family: 'Mitr', sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-decoration: none;
    color: #f5f3f6;

}

footer li a:hover {
    color: #000;
    text-decoration: none;
}